.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-family: Arial, sans-serif;
    background-color: #fffffa;
}

.headerClientes {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.actionsBar {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
    justify-content: flex-start;
}

.actionsBar input {
    padding: 8px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btnNovoCliente {
    padding: 8px 15px;
    background-color: #912f40;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btnNovoCliente:hover {
    background-color: #702632;
}

/* Lista de clientes */
.listaClientes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Card de cliente */
.clienteCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.2s;
}

.clienteCard:hover {
    background-color: #f5f5f5;
}

/* Dados do cliente lateralmente */
.cardInfo {
    display: flex;
    gap: 40px;
    /* espaçamento entre Nome, CPF e Pontos */
    font-weight: bold;
    font-size: 16px;
}

/* Botões à direita */
.cardActions {
    display: flex;
    gap: 10px;
    /* espaço entre os botões */
}

.cardActions button {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    background-color: #912f40;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.cardActions button:hover {
    background-color: #702632;
}

/* Modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 45%;
    max-width: 900px;
}

.modal h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
}

.formCadastro {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 15px;

}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.campo label {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 4px;
}

.campo input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

/* Estilos individuais */
.nome input {
    width: 400px;
    background-color: #f9f9f9;
}

.cpf input {
    width: 200px;
    text-align: center;
}

.email input {
    width: 400px;
}

.celular input {
    width: 200px;
}

.fixo input {
    width: 180px;
}

.logradouro input {
    width: 320px;
}

.numero input {
    width: 80px;
}

.bairro input {
    width: 200px;
}

.cidade input {
    width: 200px;
}

.estado input {
    width: 60px;
    text-transform: uppercase;
}

.cep input {
    width: 110px;
    text-align: center;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.modalActions button {
    background: #912f40;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.paginacao button {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    background-color: #912f40;
    color: white;
    cursor: pointer;
}

.paginacao button:hover {
    background-color: #702632;
}

.ativo {
    background-color: #4caf50;
}